# .coveragerc to control coverage.py
[run]
branch = True
omit = 
  app/libs/utils.py
  app/helpers/cluster_task.py
  app/helpers/check_on_sync.py
[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    except

ignore_errors = True

[html]
directory = htmlcov
