# Git
.git
.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

# other
.env
compose.yml
.flake8
tests/
.ruff_cache
.pytest_cache
