# Flask
Flask==1.1.1
Werkzeug==0.16.0
Flask-Script==2.0.6
Flask-RESTful==0.3.7
Flask-Cors==3.0.7

# Environment variable parsing
environs==6.0.0

# App
requests==2.21.0
psycopg2==2.8.3
PyYAML==5.4
kafka-python==1.4.6
python-dotenv==0.10.3
