# Flask
Flask==1.1.4
# markupsafe > 2.0.1 breaks flask by removing `json` function
markupsafe==2.0.1

Flask-RESTful==0.3.9
Flask-Cors==3.0.10

# Environment variable parsing
environs==6.0.0

# App
requests==2.21.0
psycopg2==2.8.3
PyYAML==5.4
confluent-kafka==1.7.0
python-dotenv==0.10.3
