# Flask
Flask==1.1.1
Werkzeug==0.16.0
Flask-Script==2.0.6
Flask-RESTful==0.3.7

# Database
Flask-SQLAlchemy==2.4.1
SQLAlchemy==1.3.9

# Migrations
Flask-Migrate==2.5.2

# Caching
Flask-Caching>=1.7.2

# Environment variable parsing
environs==6.0.0

# App
netaddr==0.7.19
requests==2.21.0
