# The value here follows the knotc command, not knot.conf
master:
    notify:
        - slave1
        - slave2

    acl:
        - slave1
        - slave2

slave:
    master:
        - master1
        - master2

    acl:
        - master1
        - master2
